* {
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 100, 124);
    font-family: 'IBM Plex Sans', sans-serif;
}

#container {
    width: 100%;
    background-color: rgb(70, 100, 124);
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: rgb(255, 255, 255);
}

h1 {
    float: left;
    padding-left: 18em;
}

#search {
    float: right;
    padding: 1.25em;
}

#search input {
    padding: 0.5em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#navigation {
    background-color: rgba(0,23,79,0.9);
}

#navigation ul {
    list-style: none;
    padding: 0;
}

#navigation li {
    float: left;
    padding: 10px 78.5px;
    color: rgb(255, 255, 255);
}

#navigation li:hover {
    background-color: rgb(70, 100, 124);
    cursor: pointer; 
}